<?php
use yii\helpers\Html;
use yii\widgets\ActiveForm;
$this->title = 'Student Form';
?>

<?php if (Yii::$app->session->hasFlash('contactFormSubmitted')): ?>
<div class="row">
   <div class="col-lg-5">
       <div class="panel panel-default">
           <div class="panel-heading">Message Sent</div>
           <div class="panel-body">
               <p><b>Name:</b> <?=$model->name?> </p>
               <p><b>Email:</b> <?=$model->email?> </p>
               <p><b>Message:</b> <?=$model->message?> </p>
           </div>
       </div>
       <div class="alert alert-success">
           Thank you for contacting us. We will respond to you as soon as possible.
       </div>
   </div>
</div>

<?php else: ?>

<div class="row">
<?php $form = ActiveForm::begin(['id' => 'student_registration']); ?>
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="firstname">First name</label>
                <input type="text" id="firstname" name="firstname" class="form-control" />
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="lastname">Last name</label>
                <input type="text" id="lastname" name="lastname" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="form-group">
            <label class="form-label" for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <div class="form-group">
                <label class="form-label" for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label class="form-label" for="dob">Date of Birth</label>
                <input type="date" class="form-control" id="dob" name="dob" placeholder="">
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-lg-10">
            <div class="form-group">
                <label class="form-label" for="school">School</label>
                <input type="text" class="form-control" id="school" name="school" aria-describedby="emailHelp" placeholder="">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label class="form-label" for="grade">Grade</label>
                <input type="text" class="form-control" id="grade" name="grade" aria-describedby="emailHelp" placeholder="">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <div class="dropdown">
                <select class="form-select" id="country" name="country" aria-label="Default select example">
                    <option selected value="">Select Country</option>
                    <option value="india">India</option>
                    <option value="us">US</option>
                    <option value="other">Other</option>
                </select>
                <label for="country" class="error"></label>
            </div>
        </div>
        <div class="col">
            <div class="dropdown">
                <select class="form-select" id="state" name="state" aria-label="Default select example">
                    <option selected value="">Select State</option>
                    <option value="state_a">State A</option>
                    <option value="state_b">State B</option>
                    <option value="state_c">State C</option>
                    <option value="state_d">State D</option>
                    <option value="state_e">State E</option>
                </select>
                <label for="state" class="error"></label>
            </div>
        </div>
        <div class="col">
            <div class="dropdown">
                <select class="form-select" id="city" name="city" aria-label="Default select example">
                    <option selected value="">Select City</option>
                    <option value="city_a">City A</option>
                    <option value="city_b">City B</option>
                    <option value="city_c">City C</option>
                    <option value="city_d">City D</option>
                    <option value="city_e">City E</option>
                </select>
            </div>
        </div>
    </div>
    <?= Html::submitButton('Submit', ['class' => 'btn btn-primary', 'name' => 'contact-button']) ?>
                   </div>
<?php ActiveForm::end(); ?>

<?php endif; ?>